
.messagepop {
  background-color:#FFFFFF;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.980392) 1px 1px 2px 0px;
  border-radius: 5px;
  position:absolute;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 200;
}


